<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8cc2529ef7.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <header>
        <nav>
              <%= link_to "Nagano Cake", root_path, class: "navbar-brand" %>
              <div class="navbar-nav">
                <ul>
                  <li class="navbar-item">
                    <%= link_to "About", about_path, class: "nav-link nav_mr" %>
                  </li>
                  <li class="navbar-item">
                    <%= link_to "商品一覧", about_path, class: "nav-link nav_mr" %>
                  </li>
                  <li class="navbar-item">
                    <%= link_to "新規登録", about_path, class: "nav-link nav_mr" %>
                  </li>
                  <li class="navbar-item">
                    <%= link_to "会員登録", about_path, class: "nav-link" %>
                  </li>
                </ul>
              </div>
        </nav>
    </header>
    <div class="main">
      <%= yield %>
    </div>
    <footer>
      <div class="footer-var">
        <p class="footer-content">Copyright © 2024 Nagano Cake.</p>
      </div>
    </footer>
  </body>
</html>
