<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/8cc2529ef7.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


  </head>

  <body class="d-flex flex-column vh-100">
    <header class="mb-3">
        <nav class="navbar navbar-expand-lg navi_area text-right">
            <div class="container">
              <%= link_to "Nagano Cake", root_path, class: "navbar-brand" %>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav ml-4">
                  <li class="nav-item">
                    <%= link_to "About", about_path, class: "nav-link nav_mr" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "商品一覧", about_path, class: "nav-link nav_mr" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "新規登録", about_path, class: "nav-link nav_mr" %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "会員登録", about_path, class: "nav-link nav_mr" %>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </header>
    <%= yield %>
  </body>
</html>
